*.o
*.lo
*.la
#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store
Icon?
*~.nib
build
.metadata
bin
dist
*.xcodeproj/*.mode*
*.xcodeproj/*.pbxuser
**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
/mogenerator.xcodeproj/project.xcworkspace/
!/mogenerator.xcodeproj/xcshareddata/
/mogenerator.xcodeproj/xcuserdata/
/contributed templates/Nikita Zhuk/ponso/sample project/PonsoTest/PonsoTest.xcodeproj/project.xcworkspace/xcuserdata/
/contributed templates/Nikita Zhuk/ponso/sample project/PonsoTest/PonsoTest.xcodeproj/xcuserdata/
