<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>Implements generation gap codegen pattern for Core Data. Inspired by eogenerator.</string>
	<key>IFPkgDescriptionTitle</key>
	<string>mogenerator + Xmo'd VERSION</string>
</dict>
</plist>
